// background for header
.page-header {
    position: relative;

    height: 100vh;
    min-height: 865px;
    max-height: 1350px;

    background-image: url("../img/bg-header2x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
}
// Darkening background
.page-header__wrap {
  height: 100%;
  padding-bottom: 75px;

    background: linear-gradient(0deg, rgba(78, 78, 78, 0.7) 0%,
                                      rgba(78, 78, 78, 0.7) 0%,
                                      rgba(59, 59, 59, 0.7) 0.01%,
                                      rgba(14, 14, 14, 0.16013) 109.49%,
                                      rgba(0, 0, 0, 0) 141.96%);
    background-size: inherit;
}
// Adds clouds for background
.page-header::before {
    position: absolute;
    content: "";

    top: -30px;
    right: 70px;

    width: 972px;
    height: 415px;

    background-image: url("../img/clouds.png");
    background-repeat: no-repeat;
    background-position: center;
}

// Positions for logo elements
.page-header__logo {
    min-height: 80px;
    align-items: center;
}

.logo__openh {
    margin-right: 20px;
}

.logo__summ {
    margin-right: 15px
}

.logo__justgotrip {
    max-width: none;
}

.page-header__content {
    margin-top: 140px;
}

//mobile
@media (min-width: 1px) and (max-width: 767.9px) {
    .page-header {
        background-size: cover;
        height: auto;
        max-height: none;
        min-height: none;
    }

    .page-header__content {
        margin-top: 50px;
    }

    .page-header::before {
        display: none;
    }

    .page-header::after {
        top: 15%;
    }

    .page-header__logo {
        padding-left: 15px;
        justify-content: flex-start;
    }

    .logo__summ {
        display: none;
    }

    .logo__justgotrip {
        display: none;
    }
}

//tablet
@media (min-width: 768px) and (max-width: 1199.9px) {
    .page-header {
        background-size: cover;
        height: auto;
        max-height: none;
    }

    .page-header__content {
        margin-top: 40px;

        flex-direction: column;
    }

    .page-header::before {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.9px) {
    .page-header {
        background-size: cover;
        min-height: 890px;
    }

    .page-header__wrap {
        min-height: 890px;
    }
}

//bag
@media (min-width: 545px) and (max-width: 576px) {
    .page-header__content {
        flex-direction: column;
    }
}

