@charset "UTF-8";
/* roboto-100 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/roboto-v19-cyrillic_latin-100.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-100.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-300 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v19-cyrillic_latin-300.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-300italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/roboto-v19-cyrillic_latin-300italic.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v19-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v19-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/roboto-v19-cyrillic_latin-italic.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-500italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/roboto-v19-cyrillic_latin-500italic.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v19-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v19-cyrillic_latin-900.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #F8F8F8; }

.text-title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #F6A912; }

.text-subtitle {
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 0.01em;
  color: #2E2E2E; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .text-subtitle {
    font-size: 28px; } }

.page-header {
  position: relative;
  height: 100vh;
  min-height: 865px;
  max-height: 1350px;
  background-image: url("../img/bg-header2x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.page-header__wrap {
  height: 100%;
  padding-bottom: 75px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(78, 78, 78, 0.7)), color-stop(0%, rgba(78, 78, 78, 0.7)), color-stop(0.01%, rgba(59, 59, 59, 0.7)), color-stop(109.49%, rgba(14, 14, 14, 0.16013)), color-stop(141.96%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(bottom, rgba(78, 78, 78, 0.7) 0%, rgba(78, 78, 78, 0.7) 0%, rgba(59, 59, 59, 0.7) 0.01%, rgba(14, 14, 14, 0.16013) 109.49%, rgba(0, 0, 0, 0) 141.96%);
  background: -o-linear-gradient(bottom, rgba(78, 78, 78, 0.7) 0%, rgba(78, 78, 78, 0.7) 0%, rgba(59, 59, 59, 0.7) 0.01%, rgba(14, 14, 14, 0.16013) 109.49%, rgba(0, 0, 0, 0) 141.96%);
  background: linear-gradient(0deg, rgba(78, 78, 78, 0.7) 0%, rgba(78, 78, 78, 0.7) 0%, rgba(59, 59, 59, 0.7) 0.01%, rgba(14, 14, 14, 0.16013) 109.49%, rgba(0, 0, 0, 0) 141.96%);
  -webkit-background-size: inherit inherit;
          background-size: inherit; }

.page-header::before {
  position: absolute;
  content: "";
  top: -30px;
  right: 70px;
  width: 972px;
  height: 415px;
  background-image: url("../img/clouds.png");
  background-repeat: no-repeat;
  background-position: center; }

.page-header__logo {
  min-height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo__openh {
  margin-right: 20px; }

.logo__summ {
  margin-right: 15px; }

.logo__justgotrip {
  max-width: none; }

.page-header__content {
  margin-top: 140px; }

@media (min-width: 1px) and (max-width: 767.9px) {
  .page-header {
    -webkit-background-size: cover;
            background-size: cover;
    height: auto;
    max-height: none;
    min-height: none; }
  .page-header__content {
    margin-top: 50px; }
  .page-header::before {
    display: none; }
  .page-header::after {
    top: 15%; }
  .page-header__logo {
    padding-left: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .logo__summ {
    display: none; }
  .logo__justgotrip {
    display: none; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .page-header {
    -webkit-background-size: cover;
            background-size: cover;
    height: auto;
    max-height: none; }
  .page-header__content {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .page-header::before {
    display: none; } }

@media (min-width: 992px) and (max-width: 1199.9px) {
  .page-header {
    -webkit-background-size: cover;
            background-size: cover;
    min-height: 890px; }
  .page-header__wrap {
    min-height: 890px; } }

@media (min-width: 545px) and (max-width: 576px) {
  .page-header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

.header-content {
  position: relative; }

.header-content__description {
  -webkit-box-flex: 1.3;
  -webkit-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3; }

.header-content__title-container {
  margin-bottom: 30px; }

.header-content__title {
  font-weight: 900;
  font-size: 100px;
  line-height: normal;
  letter-spacing: 5px;
  color: #ffffff; }

.header-content__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: normal;
  color: #ffffff; }

.header-content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff; }

.header-content__form {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative; }

.header-content__sale {
  display: none; }

.header-content__arrow-wrap {
  position: relative; }

.header-content__arrow {
  position: absolute;
  bottom: -320px; }

.header-content__arrow-image:hover {
  opacity: 0.5; }

.header-content__sale {
  display: block;
  position: absolute;
  top: -61px;
  right: -12px;
  padding-top: 36px;
  width: 190px;
  height: 190px;
  text-align: center;
  background-image: url("../img/bg-sale.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1; }

.header-content__sale-text {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #ffffff; }

.header-content__sale-number-wrap {
  margin-top: -5px; }

.header-content__sale-number {
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 0.01em;
  color: #ffffff; }

.header-content__sale-footer-text-wrap {
  margin-top: -5px; }

.header-content__sale-footer-text {
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 15px;
  color: #ffffff; }

@media (min-width: 1px) and (max-width: 767.9px) {
  .header-content__title-wrap {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .header-content__title {
    font-size: 50px; }
  .header-content__title-image {
    width: 90px;
    height: 90px; }
  .header-content__subtitle {
    font-size: 28px; }
  .header-content__text {
    font-size: 20px; }
  .header-content__sale {
    display: none; }
  .header-content__arrow {
    display: none; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .header-content__title-wrap {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .header-content__title {
    font-size: 70px; }
  .header-content__sale {
    right: 27px; }
  .header-content__arrow {
    display: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .header-content__sale {
    right: 146px; } }

@media (min-width: 1300px) {
  .header-content__description {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; } }

.form {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0 40px;
  padding-top: 40px;
  padding-bottom: 5px;
  margin-top: 30px;
  max-width: 476px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: white; }

.form--footer {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px; }

.form__title-wrap {
  margin-bottom: 5px; }

.form__title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.01em; }

.form__title--footer,
.form-description-text--footer {
  text-align: center; }

.form__description-text-wrap {
  margin-bottom: 30px; }

.form__description-text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* line-height: 50px; */
  letter-spacing: 0.01em;
  color: #AAB2C0; }

.form__name-wrap {
  margin-bottom: 30px; }

.form__label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /*  line-height: 50px; */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2E2E2E; }

.form__name-input-wrap {
  position: relative; }

.form__input {
  padding: 15px 0;
  padding-left: 65px;
  width: 100%;
  border: 1px solid #D9DEE8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.form__name-label-wrap {
  position: relative; }

.form__name-label::before {
  position: absolute;
  content: "";
  top: 50px;
  left: 25px;
  width: 17px;
  height: 17px;
  background-image: url("../img/name-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1; }

.form__phone-wrap {
  margin-bottom: 40px; }

.form__phone-label-wrap {
  position: relative; }

.form__phone-label::before {
  position: absolute;
  content: "";
  top: 50px;
  left: 25px;
  width: 17px;
  height: 17px;
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: center; }

.form__button-wrap {
  margin-bottom: 20px; }

.form__button {
  width: 100%;
  padding: 15px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: none;
  background: -webkit-linear-gradient(306.12deg, #F6B411 26.93%, #F37116 98.69%);
  background: -o-linear-gradient(306.12deg, #F6B411 26.93%, #F37116 98.69%);
  background: linear-gradient(143.88deg, #F6B411 26.93%, #F37116 98.69%); }

.form__button:hover {
  background: -webkit-linear-gradient(306.12deg, #cf9a15 26.93%, #853e0c 98.69%);
  background: -o-linear-gradient(306.12deg, #cf9a15 26.93%, #853e0c 98.69%);
  background: linear-gradient(143.88deg, #cf9a15 26.93%, #853e0c 98.69%); }

.form__footer-text-wrap {
  padding: 0 10px; }

.form__footer-text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #696969; }

.form__footer-text-link {
  color: #696969;
  border-bottom: 1px solid #696969; }

.form__footer-text-link:hover {
  color: orange;
  border: none; }

.form__quanity-label-wrap {
  position: relative; }

.form__quanity-label::before {
  position: absolute;
  content: "";
  top: 48px;
  left: 20px;
  width: 30px;
  height: 21px;
  background-image: url("../img/group-form.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.form__quanity-label::after {
  position: absolute;
  content: "";
  top: 55px;
  right: 30px;
  width: 16px;
  height: 10px;
  background-image: url("../img/arrow-form.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.form__quanity-select-wrap {
  margin-bottom: 25px; }

.form__quanity-select {
  padding: 15px 0;
  padding-left: 65px;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #A1A1A1;
  border: 1px solid #D9DEE8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .footer__form-wrap::after,
  .footer__form-wrap::before {
    display: none; }
  .form {
    padding: 0 15px;
    padding-top: 40px;
    padding-bottom: 5px;
    max-width: none; }
  .form--footer {
    margin: 0 15px;
    padding: 0 15px;
    padding-top: 40px;
    padding-bottom: 5px;
    max-width: none; }
  .form__title--footer {
    text-align: left; }
  .form-description-text--footer {
    text-align: left; }
  .form__button {
    font-size: 18px; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .footer__form-wrap::after,
  .footer__form-wrap::before {
    display: none; }
  .form--footer {
    padding: 0 15px;
    padding-top: 40px;
    padding-bottom: 5px;
    -webkit-border-radius: 10px;
            border-radius: 10px; } }

@media (min-width: 320px) and (max-width: 370px) {
  .form__quanity-label::after {
    display: none; } }

.main {
  margin-bottom: 100px; }

.main-description {
  padding-top: 60px;
  margin-bottom: 80px; }

.main-description__subtitle-wrap {
  margin-bottom: 25px; }

.main-description__text-wrap {
  margin-bottom: 65px; }

.main-description__list {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  list-style: none; }

.main-description__item {
  position: relative;
  text-align: center; }

.main-description__item::before {
  position: absolute;
  content: "";
  right: -77px;
  width: 0;
  height: 108px;
  opacity: 0.5;
  border: 1px solid rgba(217, 222, 232, 0.7); }

.main-description__item:last-of-type::before {
  display: none; }

.main-description__item-text {
  font-size: 15px;
  line-height: 30px;
  color: #2E2E2E; }

.main-description__item-logo-wrap {
  margin-bottom: 20px; }

.main-description__item-logo {
  fill: white; }

.main-description__text {
  line-height: 30px;
  margin-bottom: 0; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .main-description__list-wrap {
    max-width: 540px;
    margin: auto; }
  .main-description__list {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start; }
  .main-description__item {
    width: 33.33%;
    margin-bottom: 20px; }
  .main-description__item::before {
    display: none; }
  .main-description__preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .main-description__item::before {
    right: -35px; }
  .main-description__preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

.order-wrap {
  padding: 30px 80px;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15); }

.order-wrap__title-wrap {
  margin-bottom: 20px; }

.order-wrap__title {
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #2E2E2E; }

.order-wrap__number-wrap {
  margin-bottom: 30px; }

.order-wrap__number {
  position: relative;
  display: inline-block;
  padding-bottom: 40px;
  font-size: 100px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #2E2E2E; }

.order-wrap__number::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 10px;
  width: 87px;
  height: 1px;
  background-color: rgba(183, 190, 203, 0.4); }

.order-wrap__button-wrap {
  margin-bottom: 20px; }

.order-wrap__button {
  display: inline-block;
  padding: 16px 0;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background: -webkit-linear-gradient(319.42deg, #F6B411 26.93%, #F37116 98.69%);
  background: -o-linear-gradient(319.42deg, #F6B411 26.93%, #F37116 98.69%);
  background: linear-gradient(130.58deg, #F6B411 26.93%, #F37116 98.69%);
  -webkit-border-radius: 100px;
          border-radius: 100px; }

.order-wrap__button:hover {
  color: white;
  background: -webkit-linear-gradient(306.12deg, #cf9a15 26.93%, #853e0c 98.69%);
  background: -o-linear-gradient(306.12deg, #cf9a15 26.93%, #853e0c 98.69%);
  background: linear-gradient(143.88deg, #cf9a15 26.93%, #853e0c 98.69%);
  text-decoration: none; }

.order-wrap__link {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.01em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #F48015; }

.order-wrap__link:hover {
  color: #946405; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .order-wrap {
    padding: 30px 20px; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .order-wrap {
    padding: 30px 200px; } }

.preview-main__video {
  min-width: 695px;
  width: auto;
  height: 100%; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .preview-main__video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    margin-bottom: 0;
    height: 0; }
  .preview-main__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 0;
    width: 100%;
    height: 100%; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .preview-main__video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    margin-bottom: 0;
    height: 0; }
  .preview-main__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 0;
    width: 100%;
    height: 100%; } }

.comfort {
  position: relative; }

.carousel-wrap {
  margin-bottom: 50px; }

.carousel__list {
  padding: 0;
  list-style: none; }

.carousel__item {
  margin-right: 20px; }

.carousel__item-content {
  padding: 25px 35px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 467px;
  min-height: 570px;
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 12px 12px 40px rgba(121, 121, 121, 0.3);
          box-shadow: 12px 12px 40px rgba(121, 121, 121, 0.3);
  -webkit-border-radius: 6px;
          border-radius: 6px; }

.carousel__image-wrap {
  margin-bottom: 25px; }

.carousel__title-wrap {
  margin-bottom: 15px; }

.carousel__title {
  margin: 0;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  color: #2E2E2E; }

.carousel__text {
  text-align: left;
  font-size: 16px;
  line-height: 30px;
  color: #696969; }

.btn-prev {
  width: 50px;
  height: 50px;
  background-image: url("../img/arrow-left.svg");
  background-repeat: no-repeat;
  z-index: 1; }

.btn-arrow {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  z-index: 1; }

.carousel-toggles__wrap--mobile {
  display: none; }

.carousel-padding {
  text-align: center;
  margin-right: 0; }

.slick-track {
  margin-left: -22vw; }

@media (min-width: 1200px) and (max-width: 1250px) {
  .slick-track {
    margin-left: -27vw; } }

@media (min-width: 1250px) and (max-width: 1399.9px) {
  .slick-track {
    margin-left: -25vw; } }

@media (min-width: 320px) and (max-width: 767.9px) {
  .carousel__item-content {
    padding: 15px 15px;
    width: 320px;
    min-height: 600px;
    padding-bottom: 0; }
  .carousel__item {
    margin-right: 250px; }
  .carousel__image {
    width: 100%;
    height: auto;
    max-height: 170px; }
  .carousel-toggles__wrap {
    display: none; }
  .carousel-toggles__wrap--mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px; }
  .carousel-wrap {
    margin-bottom: -40px; }
  .slick-track {
    margin-left: 0; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .carousel__item-content {
    width: 650px;
    min-height: 650px;
    padding-bottom: 0; }
  .carousel__image {
    width: 100%;
    height: auto;
    max-height: 400px; }
  .carousel__item {
    margin-right: 350px; }
  .slick-track {
    margin-left: 0; } }

@media (min-width: 400px) and (max-width: 499.9px) {
  .carousel__item-content {
    width: 400px; }
  .carousel__image {
    max-height: 250px; } }

@media (min-width: 500px) and (max-width: 767px) {
  .carousel__item-content {
    width: 500px; }
  .carousel__image {
    max-height: 250px; } }

@media (min-width: 600px) and (max-width: 767px) {
  .carousel__item-content {
    width: 600px; }
  .carousel__image {
    max-height: 300px; } }

.card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  border: none; }

.card-header {
  padding: 0; }

.card-content {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.card-content__title-wrap {
  margin-right: 15px;
  min-width: 231px;
  text-align: left; }

.card-content__title {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #2E2E2E; }

.card-content__text-header-wrap {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.card-content__text-header {
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #696969; }

.card-btn__active {
  background: -webkit-linear-gradient(352.04deg, #F7AD12 12.87%, #F58316 94.66%);
  background: -o-linear-gradient(352.04deg, #F7AD12 12.87%, #F58316 94.66%);
  background: linear-gradient(97.96deg, #F7AD12 12.87%, #F58316 94.66%); }

.card-btn__active .card-content__title,
.card-btn__active .card-content__text-header {
  color: white; }

.card-body {
  position: relative;
  padding-left: 55px;
  padding-right: 55px; }
  .card-body::before {
    content: "";
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 0px;
    height: 0px;
    border-top: 25px solid transparent;
    border-right: 25px solid rgba(0, 0, 0, 0.08); }

.card-btn {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 20px;
  width: 100%;
  text-decoration: none;
  border: none;
  background-color: #F6A912; }

.card-content__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.card-content__arrow-item {
  fill: #ffffff; }

.card-content__arrow-border {
  stroke: #ffffff; }

.card-content__text-header {
  margin: 0;
  color: #ffffff; }

.card-content__text-header-separator {
  margin-right: 15px; }

.card-content__title {
  color: #ffffff; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .card-content__title-wrap {
    min-width: 0; }
  .card-content__title {
    font-size: 25px; }
  .card-content__text-header {
    display: none; }
  .card-body {
    padding-left: 15px;
    padding-right: 15px; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .card-content__title-wrap {
    min-width: 0; }
  .card-content__text-header {
    display: none; } }

.collapsed {
  background: #ffffff; }

.collapsed .card-content__arrow {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0); }

.collapsed .card-content__arrow-item {
  fill: #F6A912; }

.collapsed .card-content__arrow-border {
  stroke: #F6A912; }

.collapsed .card-content__text-header {
  color: #696969; }

.collapsed .card-content__title {
  color: #2E2E2E; }

.tabs-wrap {
  width: 100%;
  max-width: 484px;
  min-height: 470px;
  height: auto;
  margin: auto;
  padding: 40px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 25px;
          border-radius: 25px; }

/* Стили для списка вкладок */
.tab-header {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none; }

/* Стили для вкладки */
.tab-header__item {
  position: relative;
  padding: 15px 50px;
  padding-bottom: 10px;
  color: #696969;
  background: #FBFBFB;
  border: 1px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.tab-header__item-text {
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  cursor: pointer; }

.tab-header__item-one {
  -webkit-border-top-left-radius: 100px;
          border-top-left-radius: 100px;
  -webkit-border-bottom-left-radius: 100px;
          border-bottom-left-radius: 100px; }

.tab-header__item-two {
  -webkit-border-top-right-radius: 100px;
          border-top-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
          border-bottom-right-radius: 100px; }

/* Стили для активной вкладки */
.tab-header__item.active {
  position: relative;
  color: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#F69115), to(#F69115)), -webkit-gradient(linear, left bottom, left top, from(#E8E8E8), to(#E8E8E8)), -webkit-gradient(linear, left bottom, left top, from(#E8E8E8), to(#E8E8E8)), #E8E8E8;
  background: -webkit-linear-gradient(bottom, #F69115, #F69115), -webkit-linear-gradient(bottom, #E8E8E8, #E8E8E8), -webkit-linear-gradient(bottom, #E8E8E8, #E8E8E8), #E8E8E8;
  background: -o-linear-gradient(bottom, #F69115, #F69115), -o-linear-gradient(bottom, #E8E8E8, #E8E8E8), -o-linear-gradient(bottom, #E8E8E8, #E8E8E8), #E8E8E8;
  background: linear-gradient(0deg, #F69115, #F69115), linear-gradient(0deg, #E8E8E8, #E8E8E8), linear-gradient(0deg, #E8E8E8, #E8E8E8), #E8E8E8;
  border: 1px solid #F69115;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.tab-header__item:hover {
  opacity: 0.7; }

/* Стиль для списка контейнеров с содержимым вкладок */
.tab-content {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px; }

/* Стили для контейнера с содержимым вкладки */
.tab-content__item {
  padding: 0 40px;
  display: none; }

/* Стили для активного контейнера вкладки */
.tab-content__item.active {
  display: block; }

.tab__container {
  text-align: center; }

.tab__title {
  margin: 0;
  font-weight: bold;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize; }

.tab__text {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #696969; }

.tab__text-orange {
  color: #F6A912; }

.tab__button {
  display: inline-block;
  padding: 16px 0;
  width: 100%;
  max-width: 250px;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background: -webkit-linear-gradient(319.42deg, #F6B411 26.93%, #F37116 98.69%);
  background: -o-linear-gradient(319.42deg, #F6B411 26.93%, #F37116 98.69%);
  background: linear-gradient(130.58deg, #F6B411 26.93%, #F37116 98.69%);
  -webkit-border-radius: 100px;
          border-radius: 100px; }

.tab__button:hover {
  color: white;
  text-decoration: none;
  background: -webkit-linear-gradient(306.12deg, #cf9a15 26.93%, #853e0c 98.69%);
  background: -o-linear-gradient(306.12deg, #cf9a15 26.93%, #853e0c 98.69%);
  background: linear-gradient(143.88deg, #cf9a15 26.93%, #853e0c 98.69%); }

.tab__content-number-slide {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #CFCFCF; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .tabs-wrap {
    padding: 40px 0; }
  .tab-header__item {
    padding: 20px 15px; }
  .tab-header__item-text {
    line-height: normal; }
  .tab__title {
    line-height: 40px; }
  .tab__content-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .tab__content-number-slide-wrap {
    margin-bottom: 30px; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .tab__content-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .tab__content-number-slide-wrap {
    margin-bottom: 30px; } }

.tour-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 800px; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .tour-form {
    margin-bottom: 50px; } }

.numbers {
  margin-bottom: 125px; }

.numbers__title-wrap {
  text-align: center; }

.numbers__title {
  font-weight: bold;
  font-size: 120px;
  line-height: 50px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #F6A912; }

.numbers__title-text-wrap {
  margin-top: -30px;
  margin-bottom: 65px;
  text-align: center; }

.numbers__title-text {
  font-weight: 900;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0.01em;
  color: #2E2E2E; }

.numbers__list {
  padding: 0;
  list-style: none; }

.numbers__item {
  width: 215px;
  text-align: center; }

.numbers__item-sum-wrap {
  margin-bottom: 20px; }

.numbers__item-sum {
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #F6A912; }

.numbers__item-text {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #2E2E2E; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .numbers {
    margin-bottom: 50px; }
  .numbers__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .numbers__item {
    margin: 0 auto;
    margin-bottom: 30px; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .numbers {
    margin-bottom: 75px; }
  .numbers__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .numbers__item {
    margin: 0 auto;
    margin-bottom: 30px; } }

.team {
  margin-bottom: 185px;
  text-align: center; }

.team__subtitle-wrap {
  margin-bottom: 50px; }

.team__list {
  list-style: none;
  text-align: left; }

.team__item {
  position: relative; }

.team__item-container {
  max-width: 325px;
  margin-right: 30px;
  position: relative;
  padding: 0 20px;
  padding-top: 80px;
  padding-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.team__item-container:last-of-type {
  margin-right: 0; }

.team__item-container::after,
.team__item-container::before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.team__item-container::after {
  border-top-color: #ffffff;
  border-width: 11px;
  margin-left: 99px; }

.team__item-container::before {
  border-top-color: #ddd;
  border-width: 13px;
  margin-left: 97px; }

.team__text-wrap {
  position: relative; }

.team__text::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 50px;
  top: -60px;
  left: -10px;
  background-image: url("../img/quotes.svg");
  background-repeat: no-repeat;
  background-position: center; }

.team__text {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  color: #696969; }

.team__author {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #606060; }

.team__profession-author {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #696969; }

.team__photo-wrap {
  position: absolute;
  bottom: -75px;
  right: 50px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  overflow: hidden; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .team {
    margin-bottom: 0; }
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .team__item-container {
    margin: 0 auto;
    max-width: none; }
  .team__item {
    margin-bottom: 150px; }
  .team__item-container::after {
    margin-left: 72px; }
  .team__item-container::before {
    margin-left: 70px; }
  .team__text {
    font-size: 15px; }
  .team__photo-wrap {
    bottom: -110px; }
  .team__photo {
    width: 80px;
    height: 80px; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .team {
    margin-bottom: 0; }
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .team__item-container {
    margin: 0 auto;
    max-width: none; }
  .team__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    margin-bottom: 150px; }
  .team__photo-wrap {
    margin: 0 auto;
    bottom: -120px; }
  .team__photo {
    width: 100px;
    height: 100px; }
  .team__item-container::after {
    margin-left: 232px; }
  .team__item-container::before {
    margin-left: 230px; }
  .team__text {
    font-size: 15px; } }

@media (min-width: 450px) and (max-width: 767.9px) {
  .team__photo-wrap {
    right: 100px; } }

@media (min-width: 991.9px) and (max-width: 1199.9px) {
  .team__photo-wrap {
    right: 155px; } }

.videos__title-wrap {
  margin-bottom: 40px;
  text-align: center; }

.videos__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.01em;
  color: #2E2E2E; }

.videos__list {
  padding: 0;
  list-style: none; }

.videos__item {
  height: 285px;
  position: relative;
  cursor: pointer; }

.videos__item-image {
  min-height: 280px; }

.videos__item::before {
  position: absolute;
  content: "";
  top: 80px;
  right: -10%;
  width: 0;
  height: 108px;
  opacity: 0.5;
  border: 1px solid rgba(217, 222, 232, 0.7); }

.videos__item:nth-of-type(2n)::before {
  display: none; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .videos__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .videos__item {
    margin-bottom: 150px;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    position: relative; }
  .videos__item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .videos__item::before {
    display: none; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .videos__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .videos__item {
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    position: relative; }
  .videos__item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .videos__item::before {
    display: none; } }

.footer__form {
  min-height: 740px;
  max-height: 1350px;
  height: 100%;
  background-image: url("../img/bg-footer-form.png");
  background-repeat: repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.footer__form-container {
  padding: 25px 0; }

.footer__form-wrap {
  position: relative;
  min-height: 740px;
  max-height: 1350px;
  height: 100%;
  background-image: url("../img/bg2-footer-form.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.footer__form-wrap::before {
  position: absolute;
  content: "";
  top: -40px;
  right: 50px;
  width: 972px;
  height: 415px;
  background-image: url("../img/footer-cloud1.png");
  background-repeat: no-repeat;
  background-position: center; }

.footer__form-wrap::after {
  position: absolute;
  content: "";
  bottom: 170px;
  left: 180px;
  width: 972px;
  height: 415px;
  background-image: url("../img/footer-cloud1.png");
  background-repeat: no-repeat;
  background-position: center; }

.links__container {
  padding: 40px 0; }

.links__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.links__item {
  margin-bottom: 15px; }

.links__item:last-of-type {
  margin-bottom: 0; }

.links__link {
  font-weight: 300;
  font-size: 15px;
  line-height: normal;
  color: #696969; }

.links__link:hover {
  color: #F6A912;
  border-bottom: 1px solid #F6A912;
  text-decoration: none; }

.links__title-wrap {
  margin-bottom: 15px; }

.links__title {
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #696969; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .links__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .links__list-wrap {
    margin-bottom: 30px; }
  .links__list-wrap:last-of-type {
    margin-bottom: 0; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .links__container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: center; }
  .links__list-wrap {
    width: 50%; }
  .links__list-wrap:nth-of-type(1),
  .links__list-wrap:nth-of-type(2) {
    margin-bottom: 30px; } }

.footer-line {
  background-color: #073C64; }

.footer-line__container {
  padding: 25px 15px; }

.footer-line__socials-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 200px; }

.footer-line__text {
  font-weight: 300;
  font-size: 14px;
  line-height: normal;
  color: rgba(255, 255, 255, 0.56);
  opacity: 0.7; }

.footer-line__image {
  fill: #7FB1D8;
  fill-opacity: 0.41; }

.footer-line__image:hover {
  fill: #d8e7f3; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .footer-line__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto; }
  .footer-line__socials-wrap {
    margin: 0 auto;
    margin-bottom: 30px; }
  .footer-line__text-wrap {
    margin: 0 auto; } }

.nav-tabs .nav-link {
  border: none; }

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-bottom: 4px solid #F7A612; }

.nav-tabs .nav-item {
  padding-bottom: 20px;
  padding-left: 0; }

.nav-item__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #2E2E2E; }

.nav-item__text {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #7C7C7C; }

.tab__content-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.tab__content-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right; }

.tab__content-title-wrap {
  margin-bottom: 20px; }

.tab__content-date-text {
  margin: 0;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #2E2E2E; }

.tab__content-title-text {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: #2E2E2E; }

.tab__content-time-table {
  margin-bottom: 25px; }

.tab__content-days {
  margin-right: 20px; }

.tab__content-days-image {
  width: 141px;
  height: auto; }

.tab__content-text {
  margin: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #2E2E2E; }

.tab__content-description {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 30px;
  color: #2E2E2E; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .tab__content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .tab__content-title-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px; }
  .tab-content {
    padding-top: 50px; }
  .tab__content-days {
    margin-right: 0;
    margin-bottom: 30px; }
  .tab__content-right {
    margin-bottom: 30px;
    text-align: center; }
  .carousel-control__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .tab__content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .tab__content-title-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px; }
  .tab-content {
    padding-top: 50px; }
  .tab__content-days {
    margin-right: 0;
    margin-bottom: 30px; }
  .tab__content-right {
    margin-bottom: 30px;
    text-align: center; }
  .carousel-control__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.carousel-control__wrap {
  margin-right: 50px; }

.carousel-item {
  min-height: 410px; }

.carousel-control-prev {
  position: relative;
  bottom: 0;
  left: 0;
  display: inline-block;
  padding-top: 20px;
  width: 100px;
  height: 60px;
  opacity: 1;
  background-color: #F58316; }

.carousel-control-next {
  position: relative;
  bottom: 0;
  left: 10px;
  display: inline-block;
  padding-top: 20px;
  width: 100px;
  height: 60px;
  opacity: 1;
  background-color: #F58316; }

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #a1560f; }

.carousel-control-prev--first,
.carousel-control-next--last {
  pointer-events: none;
  background-color: #CFCFCF; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .carousel-control__wrap {
    margin: 0 auto; } }

@media (min-width: 768px) and (max-width: 1199.9px) {
  .carousel-control__wrap {
    margin: 0 auto; } }

.container--logo {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }

.container--tour-form {
  max-width: none;
  background-image: url("../img/tour-form-bg.png");
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 320px) and (max-width: 767.9px) {
  .container--main-description {
    max-width: none; }
  .footer__form-container {
    max-width: none; } }
