$white: #ffffff;
$white-dark: #D9DEE8;
$bg: #F8F8F8;
$gray: #A9B0B8;
$gray-light: #E5E5E5;
$gray-dim: #AAB2C0;
$gray-dark: #696969;
$border-color: rgba(183, 190, 203, 0.4);
$gray-tab: #7C7C7C;
$brown: #2E2E2E;
$orange: #F6A912;
$orange-hover: #946405;
$dark-orange: #F48015;
$gradient: linear-gradient(143.88deg, #F6B411 26.93%, #F37116 98.69%);
$gradient-hover: linear-gradient(143.88deg, rgb(207, 154, 21) 26.93%, rgb(133, 62, 12) 98.69%);
$gradient-2: linear-gradient(180deg, #F47E16 0%, #F7B512 100%);
$gradient-3: linear-gradient(130.58deg, #F6B411 26.93%, #F37116 98.69%);